@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
  --gradient-color: linear-gradient(to right, #7179b8, #49fa70);
  --primary-color: #505785;
  --secondary-color: #50555d;
  --sectionMenu-color: #777e87;
  --bodyBackground-color: #0d0d15;
  --backgroundLight-color: #14141c;
  --shadow-color: rgba(0,0,0,0.8);
  --backgroundBlur-color: rgba(13, 13, 21, 0.8);
}

* {
  font-family: 'Lato', sans-serif;
  cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding:0;
  margin:0;
}

html{
  scroll-behavior: smooth;
  transition: transform 0.5s ease;
}

body {
  background-color: var(--bodyBackground-color);
}

.main-container {
  max-width: 1400px; /* Ancho máximo del contenedor */
  min-width: 355px;
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  display: flex; /* Usar flexbox para alinear verticalmente */
  flex-direction: column; /* Alinear verticalmente */
  align-items: center; /* Alinear horizontalmente */
}

/* Agregar línea vertical degradada a la izquierda de la página */
body:before {
  content: "";
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(180deg, #7179b8, #49fa70);
}




/* ========================================= HEADER ========================================= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14.5px 40px;
  background: rgba(13, 13, 21, 0.93);
  backdrop-filter: blur(20px);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: var(--sectionMenu-color);
  text-decoration: none;
  font-size: 10pt;
  font-weight: bold;
  transition: 0.15s;
}

.right-menu {
  display: flex;
  align-items: center;
}

.button-cvMenu {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 0.75rem 1rem;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button-cvMenu:hover{
  background-color: rgba(80, 87, 113, 0.2); 
}

.language-container {
  text-align: center;
  position: relative;
}

.language-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background-color: var(--bodyBackground-color);
  transition: opacity 0.2s ease-in-out;
}

.languageDropdown-section {
  display: inline-block;
  position: relative;
  margin-right: 7px;
  border-radius: 5px 5px 0 0;
}

.languageDropdown-section:first-child {
  margin-left: 0;
}

.languageDropdown-section a {
  display: block;
  color: var(--sectionMenu-color);
  padding: 13px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.languageDropdown-section:hover,
.languageDropdown-content:hover + .languageDropdown-section {
  background-color: var(--bodyBackground-color);
}

.dropdownLanguage-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--bodyBackground-color);
  border-radius: 0 0 5px 5px;
}

.dropdownLanguage-content li {
  padding: 4px;
  text-align: center;
}

.dropdownLanguage-content li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 10pt;
  font-weight: bold;
  display: block;
  padding: 8px;
}

.menu a:hover, .languageDropdown-section i:hover{
  color: #fff;
}

.languageDropdown-section:hover .dropdownLanguage-content {
  visibility: visible;
}

.dropdownLanguage-content li:hover {
  background-color: var(--backgroundLight-color);
  color: #fff;
  border-radius: 5px;
}

.language-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.languageDropdown-section:hover ~ .language-dropdown,
.dropdownLanguage-content:hover + .language-dropdown {
  opacity: 1;
}


/* ========================================= SOCIAL MEDIA MENU ========================================= */

.socialMedia-menu {
  position: fixed;
  bottom: 0;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialMedia-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialMedia-menu a {
  display: block;
  color: var(--sectionMenu-color);
  text-decoration: none;
}

.socialMedia-menu ul li a i{
  margin-bottom: 17px;
  transition: transform 0.3s ease;
}

.socialMedia-menu ul li a:hover i {
  color: var(--primary-color);
  transform: translateY(-0.2rem);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.2s infinite;
  transition: transform 0.5s ease;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.verticalLine-menu {
  height: 12vh;
  width: 1px;
  background-color: var(--sectionMenu-color);
}

/* ========================================= HOME ========================================= */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  margin: 30px;
}

.left {
  flex: 1;
  padding-right: 50px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 40px;
}
#name{
  background: linear-gradient(to right,#0dac9d,#00f965);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#last-name{
  background: linear-gradient(to right,#6e79ba,#00b496);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button-container {
  display: flex;
}
.button-download {
  background-color: transparent;
  border: 2px solid #505785;
  border-radius: 5px;
  color: #505785;
  text-decoration: underline;
  padding: 15px 20px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.button-talk {
  background-color: #505785;
  border: 1px solid #505785;
  border-radius: 3px;
  color: black;
  text-decoration: underline;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

#button-home:hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.right {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}



/* ========================================= PRIMERA PAGINA: ABOUT ========================================= */
.textAbout-gradientAnimation {
  background-image: linear-gradient(270deg, #6e79ba, #00b496, #00f965);
  background-size: 600% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bg-pan-right 8s ease-in-out 0s infinite;
}

@-webkit-keyframes bg-pan-right {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes bg-pan-right {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.technologies {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: var(--secondary-color);
  width: 100%;
}

.technologies li {
  font-size: 13px;
  display: flex;
  align-items: center;
  width: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.technologies li i {
  margin-right: 10px;
}


/* Estilos para el título de la sección "Acerca de" */
#sections-title {
  text-align: center;
}

#sections-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 5px;
}

#sections-title p {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 1.5;
}


/* Estilos para el texto debajo de los cuadros de información */
#about-text {
  margin-top: 0px;
  color: white;
  text-align: left;
}

#about-text p{
  font-size: 13pt;
}


/* Estilos para el contenedor del título y la imagen de la izquierda */
#about-notTilte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.about-left img {
  width: 90%;
  height: auto;
}



/* ========================================= TERCERA PAGINA: PROJECT ========================================= */
#project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.project-button {
  font-weight: 600;
  font-size: 13.5px;
  width: max-content;
  padding: 1rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  background-color: #505785;
  transition: 0.5s;
}

.project-button:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}


.img-gallery{
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-gallery img,
.img-gallery video{
  width: 430px;
  height: 225px;
  margin: 7px;
  object-fit: cover;
  border-radius: 7px;
  transition: transform 0.3s ease;
}

.img-gallery img:hover,
.img-gallery video:hover{
  transform: scale(1.04);
  transition: transform 0.5s ease;
}

.ful-img{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.ful-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.ful-img img,
.ful-img video{
  width: 90%;
  max-width: 600px;
  min-width: 300;
}




/* ========================================= QUARTA PAGINA: CONTACT ========================================= */
#contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}

.contact-form {
  flex: 1;
  padding: 2rem;
}

.contact-form h2 {
  text-align: left;
}

.contact-form p {
  margin-bottom: 2rem;
  text-align: left;
}

.form-control {
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.form-control input,
.form-control textarea {
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #d4d4d4;
  border: 1px solid  #333;
  background-color: #14141c;
}

.form-control textarea {
  height: 9rem;
}

button[type="submit"] {
  font-weight: 600;
  font-size: 13.5px;
  width: max-content;
  padding: 1rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  background-color: #505785;
  transition: 0.5s;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.contact-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-sidebar img {
  display: block;
  margin: 0 auto;
  max-width: 40%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

/* ========================================= FOOTER ========================================= */
footer {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  color: #2d3045;
  font-size: 14px;
}

footer span {
  color: #3e4261;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}





/* ========================================= CURSOR ========================================= */
.cursor1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #535882;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 2;
}
.cursor2 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #535882;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 2;
}
.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
  z-index: 2;
}

a:hover ~ .cursor1{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: none;
  border: 1px solid #535882;
}
a:hover ~ .cursor2{
  opacity: 0;
}


/* ========================================= ADAPTACION PARA DISPOSITIVOS ========================================= */
/**Movil**/
@media (max-width: 767px){
  *{
    cursor: default;
  }

  nav a, .logo, .languageDropdown-section i, .img-gallery img, .img-gallery video, button{
    cursor: pointer;
  }

  .contact-form textarea, .contact-form input{
    cursor: text;
  }
  
  header, .contact-sidebar, .cursor1, .cursor2, .right, .about-left, .cv-menu, .socialMedia-menu{
    display: none;
  }

  .left h1{
    font-size: 2.34rem;
  }

  #home-section{
    margin-top: 5rem;
  }

  #about-notTilte{
    display: block;
  }

  .img-gallery img,
  .img-gallery video{
    width: 85%;
    height: auto;
  }

  /*------------- EL MENU PARA MOVILES HAMB -------------*/
  /* Estilos del logotipo */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    align-items: center;
  }

  /* Estilos del contenedor de idiomas */
  .language-container {
    text-align: center;
    position: relative;
    bottom: 4px;
  }

  /* Estilos del menú de idiomas */
  .languageDropdown-section {
    display: inline-block;
    position: relative;
    margin-right: 0.5em;
    border-radius: 5px 5px 0 0;
  }

  .languageDropdown-section:first-child {
    margin-left: 0;
  }

  .dropdownLanguage-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    padding: 0;
    list-style: none;
    background-color: var(--bodyBackground-color);
    border-radius: 0 0 5px 5px;
  }

  .dropdownLanguage-content li {
    text-align: center;
  }

  .dropdownLanguage-content li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    padding: 0.5rem;
  }

  #language-dropdown.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  /* Estilos del menú hamburguesa */
  #menuHamb-right {
    display: flex;
    align-items: center;
  }

  #menu-hamb {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--backgroundBlur-color);
    backdrop-filter: blur(20px);
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu i,
  .cerrar-menu i {
    color: #fff;
    cursor: pointer;
  }

  .cerrar-menu i{
    position: relative;
    margin-right: -17rem;
  }

  .cerrar-menu {
    margin-right: 1rem;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 50px 10px;
    height: 200vw;
    width: min(75vw, 400px);
    background-color: var(--backgroundBlur-color);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0px 30px -15px rgba(0, 0, 0, .8);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list{
    flex-direction: column;
    align-items: center;
  }

  .button-cvMenu2 {
    display: flex;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    padding: 0.75rem 1rem;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

}

/**Tablet**/
@media (min-width: 768px) and (max-width: 990px){
  *{
    cursor: default;
  }

  nav a, .logo, .languageDropdown-section i, .img-gallery img, .img-gallery video, button{
    cursor: pointer;
  }

  .contact-form textarea, .contact-form input{
    cursor: text;
  }

  #home-section{
    margin-top: 5rem;
  }

  .contact-sidebar, .cursor1, .cursor2, #menu-hamb, .menuHamb-container, .about-left, .socialMedia-menu{
    display: none;
  }

  #about-notTilte{
    display: block;
  }

}

/**Escritorio**/
@media (min-width: 991px){
  #menu-hamb, .menuHamb-container{
    display: none; 
  }
}